doctype html
html(ng-app='app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css',  integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb',crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
    script(src='https://js.braintreegateway.com/web/3.25.0/js/hosted-fields.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js')
    script(src='/javascripts/payment.js')
    script(src='/javascripts/jsencrypt.min.js')


  body
    div(id='content',ng-controller='Payment_Checking_Form_Controller as payment',class='panel panel-default bootstrap-basic',ng-init='init()')
      div(class='panel-heading')
        h3(class='panel-title', id=form.id) #{form.str}
      form(method='post',id='paymentForm',class='panel-body',ng-submit="submit(form)", ng-hide='formHide')
        div(ng-hide='true',id='token') #{token}
        div(ng-hide='true',id='publicKey') #{publicKey}
        div(class='panel-heading')
          h4(class='panel-title') #{form.orderinfo.str}
        div(class='panel-body')
          div(class='form-group col-sm-8 control-label')
            label(for=form.orderinfo.firstName.id,class='control-label') #{form.orderinfo.firstName.str}*
            input(ng-readonly="readOnly",type='text',id='order-customer-firstname',name=form.orderinfo.firstName.id,class='form-control',placeholder=form.orderinfo.firstName.placeholder,ng-model='form.orderinfo.firstName.val',value=firstName)
            div(class='message')
          div(class='form-group col-sm-8 control-label')
            label(for=form.orderinfo.lastName.id,class='control-label') #{form.orderinfo.lastName.str}*
            input(ng-readonly="readOnly",type='text',id=form.orderinfo.lastName.id,name=form.orderinfo.lastName.id,class='form-control',placeholder=form.orderinfo.lastName.placeholder,ng-model='form.orderinfo.lastName.val',value=lastName)
            div(class='message')
          div(class='form-group col-sm-8 control-label')
            label(for=form.orderinfo.phoneNumber.id) #{form.orderinfo.phoneNumber.str}*
            input(ng-readonly="readOnly",type='tel',id=form.orderinfo.phoneNumber.id,name=form.orderinfo.phoneNumber.id,class='form-control',placeholder=form.orderinfo.phoneNumber.placeholder,ng-model='form.orderinfo.phoneNumber.val',value=phoneNumber)
            div(class='message')
          div(class='form-group col-sm-8 control-label')
            label(for=form.orderinfo.referenceCode.id) #{form.orderinfo.referenceCode.str}*
            input(ng-readonly="readOnly",type='text',id=form.orderinfo.referenceCode.id,name=form.orderinfo.referenceCode.id,class='form-control',placeholder=form.orderinfo.referenceCode.placeholder,ng-model='form.orderinfo.referenceCode.val',value=referenceCode)
            div(class='message')
        button(type='submit', class ='btn btn-primary center-block', id='{{form.checkBtn.id}}') #{form.checkBtn.str}
        div(class='message')
      div(ng-hide='recordHide')
        div(class='panel-heading')
          h4(class='panel-title') #{form.orderinfo.str}
        div(class='form-group col-sm-8 control-label')
          h5 #{form.orderinfo.firstName.str}
          div {{record.firstName}}
        div(class='form-group col-sm-8 control-label')
          h5 #{form.orderinfo.lastName.str}
          div {{record.lastName}}
        div(class='form-group col-sm-8 control-label')
          h5 #{form.orderinfo.phoneNumber.str}
          div {{record.phoneNumber}}
        div(class='form-group col-sm-8 control-label')
          h5 Credit Card Holder Name
          div {{record.cardholderName}}
        div(class='form-group col-sm-8 control-label')
          h5 Credit Card Number
          div {{record.number}}
        div(class='form-group col-sm-8 control-label')
          h5 Price
          div {{record.price}}
        div(class='form-group col-sm-8 control-label')
          h5 Currency
          div {{record.currency}}
        div(class='form-group col-sm-8 control-label')
          h5 #{form.orderinfo.referenceCode.str}
          div {{record.referenceCode}}
        div(class='form-group col-sm-8 control-label')
          h5 Transaction Status
          div {{record.transactionStatus}}
        button(class ='btn btn-primary center-block', ng-click='formBack()') Back
